body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.main{
    width: 88%;
    font-size: 3rem;
    border: none;
    text-align: right;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
}
button{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    margin: 7px 7px 7px 7px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
button:hover{
    background-color:aliceblue;
}
.equal{
    background-color: orange;
}
.equal:hover{
    background-color: orange;
}
.row{
    text-align: center;
}